/* ########################################################################################## */
/* Global Display */

body {
  background: #46220C url(http://assets.redconfetti.com/images/pages/resume/woodgrain.jpg);
  font-family: Arial,Helvetica,sans-serif;
  font-size: 75%;
  font-size-adjust: none;
  font-style: normal;
	font-variant: normal;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0;
}
dt {
  line-height: 22px;
  color:#333;
  font-weight:bold;
}
dd					{ line-height:18px; }
h1					{ color:#222; font-size: 24px; border-bottom:#444 dotted 1px; line-height: 28px; clear:both; }
h2					{ font-size: 18px; line-height: 14px; }
p					{ font-size: 14px; line-height: 20px; }

a:link				{ color:#009; text-decoration:none; }
a:visited			{ color:#009; text-decoration:none; }
a:hover				{ color:#009; text-decoration:underline; }
a:active			{ color:#009; text-decoration:none; }

/* Navigation */
#nav				{ width: 100%; margin:0 auto; padding:20x 60px; background-color:#191919; border-bottom:1px solid #373737; height: 4.1em; color:#666666; font-family:"Palatino","Georgia","Baskerville",serif; }
#nav ul 			{ bottom:0; left:0; list-style-image:none; list-style-position:outside; list-style-type:none; margin:auto; margin-top:0px; padding:0; width:825px; }
#nav ul li 			{ float:left; }
#nav ul li a		{ color:#868686; display:block; line-height:3em; padding-right:40px; text-decoration:none; font-size: 1.4em; outline: none; }
#nav a:hover		{ color: #fff; }

h1#header 			{ border-bottom:1px dotted #666666; font-family:Georgia; font-size:36px; line-height:36px; width: 100%; margin-bottom:10px; }

#container 			{ 	background:#FFFFFF url(http://assets.redconfetti.com/images/pages/resume/papergrain2.jpg) repeat scroll 0 0; color:#444444; margin:50px auto; padding:20px 60px; width:825px; position:relative; }

#polaroid			{ background: url(http://assets.redconfetti.com/images/pages/resume/jason-polaroid.png); width: 278px; height: 335px; position: relative; top:-36px; left: 680px; z-index: 10; }
#content			{ margin-top: -345px; }
#tools				{ }
#print-button		{ float:left; height: 48px; width: 48px; margin-right: 15px; }
#send-button		{ float:left; height: 48px; width: 48px; margin-right: 15px; }
#send-button img	{ border: none; }
#tools a			{ outline: none; }

#footer img			{ border:none; margin-top: 30px; }

/* ########################################################################################## */
/* Contact */
#contact		{ margin-bottom: 45px; }
#contact ul 	{ font-family:georgia,times New Roman,times,serif; font-size:16px; letter-spacing:0.9px; line-height:20px; list-style-image:none; list-style-position:outside; list-style-type:none; margin:0; padding:0; }

/* ########################################################################################## */
/* Skills */
#skills p		{ line-height: 28px; }

/* ########################################################################################## */
/* Experience */
#experience			{ }
.position			{ background:#DDD; padding:5px 15px; margin-bottom: 5px; }

/* ########################################################################################## */
/* Interest */
#interests ul li		{ margin-bottom:4px; }

/* ########################################################################################## */
/* References */
#references			{ }
