/* ########################################################################################## */
/* Global Display */

body {
  background: #FFF;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 10px;
  width: auto;
}
dt {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
dd					{ font-size: 12px; line-height: 18px; margin-left:10px; }
h1					{ color:#222; font-size: 22px; border-bottom:#444 dotted 1px; line-height:24px; }
h2					{ font-size: 16px; line-height: 20px; margin:5px 0px; }
h3					{ font-size: 14px; line-height: 20px; margin:5px 0px; }
p					{ font-size: 14px; margin:10px 0px; line-height: 20px; }

a:link				{ color:#009; text-decoration:none; }
a:visited			{ color:#009; text-decoration:none; }
a:hover				{ color:#009; text-decoration:underline; }
a:active			{ color:#009; text-decoration:none; }

h1#header 			{ border-bottom:1px dotted #666666; font-family:Georgia; font-size:28px; line-height:30px; width: 100%; margin-top:0px; margin-bottom:10px; }

#container 			{ background:#FFF; color:#444444; margin:10px auto; padding:20px 60px; position:relative; width: auto; }

#footer img				{ display:none; }
div#tools, div#nav, div#nav_dropShadow, div#polaroid	{ display:none; }

/* ########################################################################################## */
/* Contact */
#contact	{ margin-bottom: 10px; }
#contact ul 	{ font-family:georgia,times New Roman,times,serif; font-size:14px; 
		  line-height:18px; list-style-image:none; list-style-position:outside; list-style-type:none; margin:0; padding:0; }

/* ########################################################################################## */
/* Skills */
#skills p	{
  line-height: 18px;
}

/* ########################################################################################## */
/* Experience */
#experience			{ }
.position {
  background: #DDD;
  padding: 0 15px;
  margin-bottom: 5px;
}

/* ########################################################################################## */
/* Interest */
#interests			{ }
#interests ul {
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
	line-height: 18px;
  list-style-position: outside;
  margin: 0 20px;
  padding: 0;
}

/* ########################################################################################## */
/* References */
#references			{ }