{%- assign page_paths = site.header_pages | default: default_paths -%}
<!--
                   __                 ____     __  __  _
    ________  ____/ /________  ____  / __/__  / /_/ /_(_)
   / ___/ _ \/ __  / ___/ __ \/ __ \/ /_/ _ \/ __/ __/ /
  / /  /  __/ /_/ / /__/ /_/ / / / / __/  __/ /_/ /_/ /
 /_/   \___/\__,_/\___/\____/_/ /_/_/  \___/\__/\__/_/
-->
<header>
  <a href="/">
    <div class="logo">
      <img
        alt="redconfetti"
        src="{{site.assets.url_prefix}}/images/redconfetti.png"
        title="Hey pal! What are you pointing at? Don't you know its rude to point!"
      />
    </div>
  </a>

  <div class="menu">
    <ul>
      <li><a href="/">Blog</a></li>
      {%- for path in page_paths -%} {%- assign my_page = site.pages | where:
      "path", path | first -%} {%- if my_page.title -%}
      <li>
        <a href="{{ my_page.url | relative_url }}"
          >{{ my_page.title | escape }}</a
        >
      </li>
      {%- endif -%} {%- endfor -%}
    </ul>
  </div>

  <h1>{{ page.title }}</h1>
</header>
