---
---
:root {
  --logo-color-green-light: #00e313;
  --logo-color-green-dark: #3f9600;
  --logo-color-red-light: #ff5e5e;
  --logo-color-red-dark: #b20000;
  --logo-color-grey-dark: #919191;
  --logo-color-grey-light: #cdcdcd;
}

.logo {
  margin-bottom: 10px;
}
