---
---
:root {
  --logo-color-green-light: #00e313;
  --logo-color-green-dark: #3f9600;
  --logo-color-red-light: #ff5e5e;
  --logo-color-red-dark: #b20000;
  --logo-color-grey-dark: #919191;
  --logo-color-grey-light: #cdcdcd;
}

.logo .greend { color: var(--logo-color-green-dark); }
.logo .greenl { color: var(--logo-color-green-light); }
.logo .redd { color: var(--logo-color-red-dark); }
.logo .redl { color: var(--logo-color-red-light); }
.logo .greyd { color: var(--logo-color-grey-dark); }
.logo .greyl { color: var(--logo-color-grey-light); }
